@charset "ISO-8859-1";
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(128, 255, 255);
  }
  
li {
    float: right;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
li a:hover {
    background-color: #111;
  }
.button-container{
	margin:40px 10px 40px auto;
	background-color :rgba(2,80,25,0.8);
}
.button-container .active{
	background-color :rgba(20,8,25,0.8);
	color:white;
	padding:10px;
	text-size:30px;
	width:10%;
	cursor:pointer;
	
	
}

